<mat-card>
  <mat-card-header>
    <mat-card-title>Card</mat-card-title>
    <form class="example-form">
      <mat-form-field class="card-body">
        <mat-label>front</mat-label>
        <input matInput placeholder="front" value="">
      </mat-form-field>

      <mat-form-field class="card-body">
        <mat-label>back</mat-label>
        <input matInput placeholder="back">
      </mat-form-field>
    <mat-card-subtitle>Tags</mat-card-subtitle>
    </form>
  </mat-card-header>
  <mat-card-actions>
    <button
      mat-fab color="primary" aria-label="Example icon button with a add icon">
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-fab color="primary" aria-label="Example icon button with a update icon">
      <mat-icon>update</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>


